.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/
dist/
build/
.idea/
.vscode/
*.log
.streamlit/secrets.toml

# Next.js
node_modules/
.next/
out/
*.tsbuildinfo
.tools/
.vercel
.env.local
